Repository kkjeer/bot-test, pull requests merged in 2019-05, with the labels that each got.

#369 Revert "Create automergeAdvancedSettings.js"
  automergeAdvancedSettings.js
  excludedFiles/excludedOne.js
Labels: AutoMerge, use-merge-strategy

#370 Revert "Revert "Create automergeAdvancedSettings.js""
  automergeAdvancedSettings.js
  excludedFiles/excludedOne.js
Labels: AutoMerge, use-rebase-strategy

#371 Revert "Revert "Revert "Create automergeAdvancedSettings.js"""
  automergeAdvancedSettings.js
  excludedFiles/excludedOne.js
Labels: AutoMerge

#373 Create datfile
  datfile
Labels: AutoMerge
